* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 3rem;
  margin-top: 65px;
  font-weight: 400;
}
label,
input {
  font-size: 2.5rem;
  margin-right: 20px;
  margin-left: 20px;
}
input {
  transform: scale(5.5);
}

/* ===== FLEX PARENTS AND ITEMS ===== */

.rating-scale {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: space-around;
}

.ratings {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  margin: 18px 8%;
  padding: 18px 8%;
  border: solid black 2px;
}

/* ===== CLASSES/IDs ===== */

.center-text {
  text-align: center;
}

/* ===== MEDIA QUERIES ===== */
